<h1>Conversation</h1>
<% if @conversation.messages.empty? %>
  <%= "No messages" %>
  <%= simple_form_for [@conversation, @message],
    html: {
      data: { action: 'turbo:submit-end->chatroom-subscription#reset' },
      class: "d-flex" } do |f| %>
      <%= f.input :content,
                  label: false,
                  placeholder: "Message #{User.find(@conversation.participant_two_id).first_name}",
                  wrapper_html: {class: "flex-grow-1"}
                %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
<% else %>
<div class="chatroom">
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
</div>
  <%= simple_form_for [@conversation, @message],
    html: {
      data: { action: 'turbo:submit-end->chatroom-subscription#reset' },
      class: "d-flex" } do |f| %>
      <%= f.input :content,
                  label: false,
                  placeholder: "Message #{User.find(@conversation.participant_two_id).first_name}",
                  wrapper_html: {class: "flex-grow-1"}
                %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
<% end %>
