  <h1>Conversation with
      <% if @conversation.participant_one_id == current_user.id %>
        <%= User.find(@conversation.participant_two_id).first_name %>
      <% else %>
        <%= User.find(@conversation.participant_one_id).first_name %>
      <% end %></h1>
<div class="container-message">
<div class="message-conversation-container">
  <div class="conversation"
    data-controller="conversation-subscription"
    data-conversation-subscription-conversation-id-value="<%= @conversation.id %>">
      <div class="messages" data-conversation-subscription-target="messages">
      <% if @conversation.messages.empty? %>
          <p>This is the beginning of your conversation!</p>
      <% else %>
        <% @conversation.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      <% end %>
  </div>
  <%= simple_form_for [@conversation, @message],
    html: {
      data: { action: 'turbo:submit-end->conversation-subscription#resetForm' },
      class: "d-flex" } do |f| %>
      <%= f.input :content,
                  label: false,
                  placeholder: "Shoot them a message!",
                  wrapper_html: {class: "flex-grow-1"}
                %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>

  <% if @conversation.participant_one_id == current_user.id %>
    <% @user = User.find(@conversation.participant_two_id)%>
  <% else %>
    <% @user = User.find(@conversation.participant_one_id) %>
  <% end %>
  <div>
    <%= link_to "Go back to their profile", artist_path(@user) %>
  </div>
</div>
</div>
