<h1>bla bla bla</h1>
<h2> This is where all the artists who match the search by craft and location </h2>




  <div class="container" id="artists" >
    <div class="row">
       <% @users.each do |user| %>
      First Name: <%=user.first_name %>
      Last Name: <%=user.last_name %>
      Nickname: <%=user.nickname %>
      Phone number: <%=user.phone_number %>
      Location: <%=user.location %>
      Language: <%=user.language %>
      Email: <%=user.email %>
       <% end %>
    </div>
  </div>
</div>
