<h1>bla bla bla</h1>
<h2> This is where all the artists who match the search by craft and location </h2>




  <div class="container" id="artists" >
    <div class="row">
       <% @users.each do |user| %>
      <li> First Name: <%=user.first_name %> </li>
      <li>Last Name: <%=user.last_name %> </li>
      <li>Nickname: <%=user.nickname %> </li>
      <li>Phone number: <%=user.phone_number %> </li>
      <li>Location: <%=user.location %> </li>
      <li>Language: <%=user.language %> </li>
      <li>Email: <%=user.email %> </li>
      <% end %>
    </div>
  </div>
</div>
