<h1>apps views users "'show.html.erb'" </h1>

<h1>This is the show </h1>
<h2>Here is where I can see the details of the artist <h2>
<h4> <%= @user.first_name %> </h4>
<h4> <%= @user.last_name %> </h4>
<h4> <%= @user.nickname %> </h4>

<% unless current_user == @user %>
  <% if @existing_conversation.nil? %>
    <%= button_to "Contact me", conversations_path, params: { artist_id: @user.id } %>
  <% else %>
    <%= link_to "Contact me", conversation_path(@existing_conversation) %>
  <% end %>
<% end %>

<%= link_to "Make an offer", offers_new_path(@user) %>
