<div class="container">
      <div class="profile-show-all row" >


        <div class="profile-show-card col-5" >
          <h2><%= @user.first_name %> <%= @user.last_name %></h2>

         <div class="profile-buttons">
          <% unless current_user == @user %>
            <% if @existing_conversation.nil? %>
              <%= button_to "Contact me", conversations_path, params: { artist_id: @user.id }, class: "btn btn-offer rounded-pill" %>
            <% else %>
              <%= link_to "Contact me", conversation_path(@existing_conversation), class: "btn btn-offer rounded-pill" %>
            <% end %>
          <% end %>
          <%= link_to "Make an offer", offers_new_path(@user), class: "btn btn-contact rounded-pill" %>
        </div>

          <p> <strong> Skills: </strong> <%= @user.services %></p>

          <p> <strong> Bio: </strong> <%= @user.bio %></p>

          <p> <strong> Skills: </strong> <%= @user.services %></p>

          <p> <strong> Currently looking for: </strong> <%= @user.currently_looking %></p>

          <p> <strong> Currently offering: </strong> <%= @user.currently_offering %></p>

          <p> <strong> Location: </strong> <%= @user.location %> </p>
        </div>

        <div class="user-artworks-test col-7">
          <div class="user-artworks-title">
            <h1> <%= @user.first_name %> <%= @user.last_name %>'s artworks: </h1>
          </div>

        <div class="profile-artwork-cards">
          <div class="card-img-container1">
              <%= image_tag"takumi.png", class:"img-card"%>
          </div>

          <div class="card-img-container2">
              <%= image_tag"takumi.png", class:"img-card"%>
          </div>

          <div class="card-img-container3">
              <%= image_tag"takumi.png", class:"img-card"%>
          </div>

          <div class="card-img-container4">
              <%= image_tag"takumi.png", class:"img-card"%>
          </div>
        </div>

      </div>
    </div>


      <div class="user-reviews-test">
        <h1><%= @user.first_name %> <%= @user.last_name %>'s reviews: </h1>
      </div>
