<style>
/* h1 {text-align: center;} */
h6 {text-align: center;}
/* p {text-align: center;} */
/* div {text-align: center;} */
</style>



<div class="tube" >
  <div class="row">
    <div class="col-3 col-md-1">
      <div class="tube-avatar" >
        <%# <img class="middle" cl_image_tag @user.avatar.key alt="user's avatar" width="60" height="60"> %>
         <%= cl_image_tag @user.avatar.key, class: "middle", width: 60, height: 60 %>
        <%# need to change img src to image tag %>
      </div>
    </div>

    <div class="col-6 col-md-3">
      <div class="tube-username" >
        <% if review.user = offer.collaborator %>
          <h4> <%= offer.requester.first_name %> </h4>
        <% else %>
          <h4> <%= offer.collaborator.first_name %> </h4>
        <% end %>
        <%# need to put the name of the collaborator who made the review %>
      </div>
    </div>

    <div class="col-3 col-md-2">
      <div class="tube-rating_stars" >
        <h6> <p> Rating<br><%= review.rating %> /5</p> <h6>
          <% unless review.rating.nil? %>
            <span class="fa fa-star <%= review.rating >= 1 ? "checked" : "" %>"></span>
            <span class="fa fa-star <%= review.rating >= 2 ? "checked" : "" %>"></span>
            <span class="fa fa-star <%= review.rating >= 3 ? "checked" : "" %>"></span>
            <span class="fa fa-star <%= review.rating >= 4 ? "checked" : "" %>"></span>
            <span class="fa fa-star <%= review.rating >= 5 ? "checked" : "" %>"></span>
          <% end %>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="blockquote" >
        <blockquote> <%= review.content %> </blockquote>
      </div>
    </div>
  </div>
</div>
