<div class="h1-offer-details">
  <h1> Offer details: </h1>
</div>

<div class="offer-details" id="<%= dom_id offer %>">

  <div class="my-task-text">
    <p> My task: </p>
  </div>
      <div class="my-task">
        <%= offer.my_tasks %>
      </div>



    <div class="other-task-text">
      <p> <%= offer.collaborator.first_name %>'s task: </p>
    </div>
      <div class="username-task">
        <%= offer.others_tasks %>
      </div>


    <div class="exchange-time">

      <%# <p>
        Status:
        <%= offer.status %>
      <%# </p> %>
      <div class="time-start">
        <p> Start date </p>
      </div>
      <div class="actual-start">
        <%= offer.start_date %>
      </div>

      <div class="time-end">
        <p> End Date </p>
      </div>
      <div class="actual-end">
        <%= offer.end_date %>
      </div>

      <div class="both-deposits">
        <p> My deposit: </p>
          <div class="blue-box">
          <%= offer.deposit || "$0.00" %> </div>

        <p> <%= offer.collaborator.first_name %>'s deposit:</p>
          <div class="blue-box">
          <%= offer.deposit || "$0.00" %> </div>
      </div>

    </div>

    <p>
      <% if offer.requester != current_user && offer.pending? %>
        <%= button_to "Accept", offer_accept_path(offer), class: 'btn1', method: :patch %>
        <%= button_to "Decline", offer_decline_path(offer), class: 'btn1', method: :patch %>
      <% end %>
    </p>

    <div class="exchanges-button">
      <%= link_to "Go back", offers_path, class: "btn btn-exchanges rounded-pill" %>
    </div>
</div>
<br>
