<div class="" id="<%= dom_id offer %>">
  <h1> Offer details: </h1>

    <div class="my-task">
       <p> My task: <%= offer.my_tasks %> </p>
    </div>

    <div class="username-task">
      <p> <%= offer.collaborator.first_name %>'s task: <%= offer.others_tasks %></p>
    </div>

    <div class="exchange-time">

      <%# <p>
        Status:
        <%= offer.status %>
      <%# </p> %>
      <div class="time-start">
      <p> Start date </p>
      <%= offer.start_date %>
      </div>

      <div class="time-end">
      <p> End Date </p>
      <%= offer.end_date %>
      </div>

      <div class="both-deposits">
        <p> My deposit: </p>
          <div class="blue-box">
          <%= offer.deposit %> </div>

        <p> <%= offer.collaborator.first_name %>'s deposit:</p>
          <div class="blue-box">
          <%= offer.deposit %> </div>
      </div>

    </div>

    <p>
      <% if offer.requester != current_user && offer.pending? %>
        <%= button_to "Accept", offer_accept_path(offer), class: 'btn1', method: :patch %>
        <%= button_to "Decline", offer_decline_path(offer), class: 'btn1', method: :patch %>
      <% end %>
    </p>

    <div class="exchanges-button">
      <%= link_to "Go back", offers_path, class: "btn btn-exchanges rounded-pill" %>
    </div>
</div>
<br>
