<div class="" id="<%= dom_id offer %>">
  <h1> Offer details: </h1>
    <p>
      Offer with: <%= offer.collaborator.first_name %>
    </p>

    <p>
      From:
      <%= offer.start_date %>
    </p>

    <p>
      To: </strong><%= offer.end_date %>
    <p>

    <p>
     My task:
      <%= offer.my_tasks %>
    <p>

    <p>
      <%= offer.collaborator.first_name %>'s tasks:
      <%= offer.others_tasks %>
    </p>

    <p>
      Deposit:
      <%= offer.deposit %>
    </p>

    <p>
      Status:
      <%= offer.status %>
    </p>

    <p>
      <% if offer.requester != current_user && offer.pending? %>
        <%= button_to "Accept", offer_accept_path(offer), class: 'btn1', method: :patch %>
        <%= button_to "Decline", offer_decline_path(offer), class: 'btn1', method: :patch %>
      <% end %>
    </p>

    <%= link_to "Go back", offers_path %>
</div>
<br>
