<h1>My exchanges</h1>
<p style="color: blue"><%= notice %></p>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="sent-offers-tab" data-bs-toggle="tab" data-bs-target="#sent-tab-pane" type="button" role="tab" aria-controls="sent-tab-pane" aria-selected="true">Sent offers</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="received-offers-tab" data-bs-toggle="tab" data-bs-target="#received-tab-pane" type="button" role="tab" aria-controls="received-tab-pane" aria-selected="false">Received offers</button>
  </li>
</ul>

 <div class="tab-content" id="myTabContent">
  <div class="tab-pane show active" id="sent-tab-pane" role="tabpanel" aria-labelledby="sent-tab" tabindex="0">  <%#sent %>
    <div id="offers">
      <% @offers.each do |offer| %>
        <li>Working with: <%= link_to offer.collaborator.first_name, offer_path(offer) %></li>
        <li>from: <%= offer.start_date %></li>
        <li>to: <%= offer.end_date %></li>
        <li>My tasks: <%= offer.my_tasks %></li>
        <li><%= offer.collaborator.first_name %>'s tasks: <%= offer.others_tasks %></li>
        <li>Deposit: $<%= offer.deposit %></li>
        <li>Status: <%= offer.status %></li>
      <% end %>
    </div>
  </div>
  <div class="tab-pane show active" id="received-tab-pane" role="tabpanel" aria-labelledby="received-tab" tabindex="0"> <%#received %>
    <div id="offers">
        <% @offers.each do |offer| %>
          <%= offer.percent_time_left%>
          <% if offer.requester != current_user %>
            <li>Working with: <%= link_to offer.collaborator.first_name, offer_path(offer) %></li>
            <li>from: <%= offer.start_date %></li>
            <li>to: <%= offer.end_date %></li>
            <li>My tasks: <%= offer.my_tasks %></li>
            <li><%= offer.collaborator.first_name %>'s tasks: <%= offer.others_tasks %></li>
            <li>Deposit: $<%= offer.deposit %></li>
            <li>Status: <%= offer.status %></li>
            <% if offer.pending? %>
              <%= button_to "Accept", offer_accept_path(offer), class: 'btn1', method: :patch %>
              <%= button_to "Decline", offer_decline_path(offer), class: 'btn1', method: :patch %>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>



    <%# <div class="col-6 col-md-5">
      <div class="progress_bar">
        <div class="progress" >
            <div class="progress-bar" style="width:50%;">
          </div>
        </div>
      </div>
    </div> %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Progress bar </title>
    <style>
      .progress {
        position: relative;
        width: 200px;
        height:30px;
        background: orange;
        border-radius: 5px;
        overflow: hidden;
      }
      .progress__fill {
        height:100%;
        background: blue;
      }
      .progress__text {
        position: absolute;
        top:50%;
        right:5px;
        transform: translateY(-50%)
      }
    </style>
<head>
<body>
  <% completion_percent = 90 %>
  <div class="progress">
    <div class="progress__fill" style="width: <%= completion_percent %>%;"></div>
    <span class="progress__text"><%= completion_percent %>%</span>
  </div>

  <script>
    function updateProgressBar(progressBar, value) {

      progressBar.querySelector(".progress__fill").style.width =`${value}%`
      progressBar.querySelector(".progress__text").text.Content =`${value}%`
    }
  </script>
</body>
</html>
